header {
  background-image: url("https://unsplash.it/2000/1322");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.wanna-know-more {
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: center;
  font-size: 1.4em;
  width: 100%;
}

.wanna-know-more a {
  text-decoration: none;
  color: #fff;
  opacity: 0.9;
}

.wanna-know-more a:hover {
  opacity: 1;
}

.wanna-know-more a .arrow {
  font-size: .8em;
  font-size: .4em;
  position: relative;
  top: -2px;
}

.bg-olive {
  background-color: #6e8b3d;
  opacity: 0.8;
}

.bg-transparent {
  opacity: 0.8;
}

.btn-olive {
  color: #fff;
  background-color: #6e8b3d;
  box-shadow: 0 2px 0 0 #586f30;
}

.btn-olive:hover {
  color: #fff;
  background-color: #586f30;
}

@media (max-width: 575px) {
  .container {
    margin-left: inherit;
    margin-right: inherit;
  }
}

.pad-top {
  padding-top: 60px;
}

.center {
  text-align: center;
}
