---
layout: default
permalink: /
---
<header class="hero">
  <div class="container">
    <h1>We're getting married!</h1>
    <p class="lead">
      We are so thankful that you are joining us in celebrating our love.
    </p>
    <p class="lead">
      Please RSVP while you are here and feel free to contact us if you have any questions.
    </p>
    <p class="lead">
      <a class="btn btn-olive btn-lg" href="#rsvp" role="button">RSVP</a>
    </p>
  </div>
  <div class="wanna-know-more">
    <a href="#when-where">
      <span class="arrow">&#x25BC;</span> More info <span class="arrow">&#x25BC;</span>
    </a>
  </div>
</header>
{% include details.html %}
{% include rsvp.html %}
{% include registry.html %}
{% include contact.html %}
