<section id="registry" class="pad-top">
  <div class="container">
    <h1>Registry</h1>
    <hr class="my-4" />
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4">
            <!-- amazon -->
            <a target="_blank" title="Bojana &amp; Patrick's Amazon Registry" href="https://www.amazon.com/wedding/bojana-ristic-patrick-tone-lubbock-september-2017/registry/2PZ1QD6608456">
              <img src="/images/amazon_logo.svg" alt="Amazon Registry" class="registry-icon" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
