<!-- Registry Section -->
    <section id="registry" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registry</h2>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <!-- amazon -->
                <a target="_blank" title="Bojana &amp; Patrick's Amazon Registry" href="https://www.amazon.com/wedding/bojana-ristic-patrick-tone-lubbock-september-2017/registry/2PZ1QD6608456">
                  <img src="{{ site.baseurl }}/img/amazon_logo.svg" alt="Amazon Registry" class="registry-icon" />
                </a>
              </div>
            </div>
        </div>
    </section>
