<section id="rsvp" class="pad-top">
  <div class="container">
    <h1>RSVP</h1>
    <hr class="my-4" />
    <div class="row justify-content-center">
      <div class="col-md-10">
        <form action="https://formspree.io/bojana.and.patrick@gmail.com" method="POST">
          <input type="hidden" name="_subject" value="RSVP" />
          <div class="form-group row">
            <div class="col-lg-8 col-md-12">
              <label for="txtName" class="col-form-label">Name</label>
              <input id="txtName" type="text" name="name" class="form-control border-olive" placeholder="Your name" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-8 col-md-12">
              <label for="txtEmail" class="col-form-label">Email</label>
              <input id="txtEmail" type="email" name="email" class="form-control border-olive" placeholder="Your email" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-8 col-md-12">
              <label for="txtAddress1" class="col-form-label">Address</label>
              <input id="txtAddress1" type="text" name="address line 1" class="form-control border-olive" placeholder="Your message" />
              <small class="form-text text-muted">Street address, PO box, company, c/o</small>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-8 col-md-12">
              <label for="txtAddress2" class="col-form-label">Address <small class="form-text text-muted">(optional)</small></label>
              <input id="txtAddress2" type="text" name="address line 2" class="form-control border-olive" placeholder="Your address (optional)" />
              <small class="form-text text-muted">Apartment, suite, unit, building, floor, etc.</small>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-8 col-md-12">
              <label for="txtCity" class="col-form-label">City</label>
              <input id="txtCity" name="city" class="form-control border-olive" placeholder="Your address (optional)" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-8 col-md-12">
              <label for="txtState" class="col-form-label">State/Province/Region</label>
              <input id="txtState" type="text" name="state/province/region" class="form-control border-olive" placeholder="Your state/province/region" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-8 col-md-12">
              <label for="txtZIP" class="col-form-label">ZIP/Postal Code</label>
              <input id="txtZIP" type="number" step="1" name="zip code" class="form-control border-olive" placeholder="Your ZIP/postal code" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-8 col-md-12">
              <label for="ddlCountry" class="col-form-label">Country</label>
              <select id="ddlCountry" class="form-control"></select>
            </div>
          </div>
          <div id="guest1"></div>
          <div class="form-group row">
            <div class="col-lg-8">
              <a id="addGuest" href="javascript:void(0);" class="text-olive no-decoration">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add guest
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <input type="submit" class="btn btn-olive" value="Send">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
