<!-- Services Section -->
    <section id="when-where">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">When &amp; Where</h2>
                    <hr />
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <a title="Broadway Church of Christ" href="https://www.google.com/maps/dir//1924+Broadway+Ave.+Lubbock+TX/" target="_blank">
                      <img class="circle" src="https://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=250x250&maptype=roadmap&format=jpg&visual_refresh=true&markers=size:mid%7Ccolor:0x6e8b3d%7Clabel:%7C1924+Broadway+Ave.+Lubbock+Texas&key=AIzaSyDS-LyHJp3g2CB5-HHgn6Q-6Z8UjFlTqN8" alt="1924 Broadway Ave. Lubbock TX">
                    </a>
                    <h4 class="service-heading">Ceremony</h4>
                    <p class="text-muted">
                      The wedding ceremony will begin at 3:00pm inside of the Broadway Church of Christ Chapel in Lubbock, TX on September 23, 2017.
                    </p>
                    <p>
                      <a href="https://www.google.com/maps/dir//1924+Broadway+Ave.+Lubbock+Texas/" target="_blank">Get Directions &rarr;</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <a title="Christ In Action Student Ministry" href="https://www.google.com/maps/dir//2406+Broadway+Lubbock+Texas/" target="_blank">
                      <img class="circle" src="https://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=250x250&maptype=roadmap&format=jpg&visual_refresh=true&markers=size:mid%7Ccolor:0x6e8b3d%7Clabel:%7C2406+Broadway+Lubbock+Texas&key=AIzaSyDS-LyHJp3g2CB5-HHgn6Q-6Z8UjFlTqN8" alt="2406 Broadway Lubbock Texas">
                    </a>
                    <h4 class="service-heading">Reception</h4>
                    <p class="text-muted">
                      The reception will start after the ceremony (around 4:30pm). Hors d'oeuvres and live music will begin shortly after. The fiesta will be held at the Christ In Action Student Ministry building just west of the wedding ceremony.
                    </p>
                    <p>
                      <a href="https://www.google.com/maps/dir//2406+Broadway+Lubbock+Texas/"  target="_blank">Get Directions &rarr;</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
